#msCover {
    width: 100%;
}

.msPar {
    font-size: large;
    font-family: 'Cairo', sans-serif;
    padding: 20px 100px;
}

@media only screen and (max-width: 1024px) {
    .msPar {
        font-size: large;
        font-family: 'Cairo', sans-serif;
        padding: 20px 0px;
    }
}