/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.msMain {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 30px;
}


@media only screen and (max-width: 960px) {

  .msMain {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .msContant {
    padding-left: 0px;
    padding-right: 0px;
  }
}


/* Start the Header */
.header {
  overflow: hidden;
  padding: 10px 100px 5px 100px;
}


.header a {
  float: left;
  color: #1c546f;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 10px;
}

.header a.logo {
  font-size: 25px;
}

.header .linkHome.active:hover {
  background-color: #01a3f0;
  color: white !important;
}

.header a.linkHome:hover {
  background-color: rgb(241, 241, 241);
  color: #1c546f !important;
}

.header a.active {
  background-color: #01a3f0;
  color: white;
}

.header-right {
  float: right;
}

.msHome:hover {
  cursor: pointer;
}

@media only screen and (min-width: 492px) and (max-width: 991px) {
  .header {
    overflow: hidden;
    padding: 10px 70px 25px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem; */
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  /* #searchIconWeb {
    display: none !important;
  } */

  #searchIconMoblie {
    display: contents !important;
  }

}

@media only screen and (max-width: 491px){
  .header {
    overflow: hidden;
    padding: 20px 8px 20px 0px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem 0.5rem 0; */
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header a.logo{
    font-size: 20px;
  }

  .header-right {
    float: none;
  }

  /* #searchIconWeb {
    display: none !important;
  } */

  #searchIconMoblie {
    display: contents !important;
  }

}

#searchIconWeb {
  display: contents;
  cursor: pointer;
}

#searchIconMoblie {
  display: none;
  cursor: pointer;
}

/* End The Header */


/* Start of the Hero*/
.msContant {
  margin-top: 0px;
  padding-top: 0px
}

.msContent2 {
  padding: 200px 100px;
}

.msHeaderHome {
  background-image: url('./assets/images/MSP/essential/msBG.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.msHeaderText {
  /* color: #01a4f1; */
  color: #fff;
  width: fit-content;
  margin-bottom: 0px;
}

.msHeaderText1 {
  font-size: 40px;
}

.msHeaderText2 {
  font-size: 60px;
}

.msHeaderText3 {
  font-size: 80px;
}

.msHeaderButton {
  font-size: xx-large;
}

@media only screen and (max-width: 1075px) {
  .alert {
    width: 60% !important;
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 768px) {
  .alert {
    width: 77% !important;
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 500px) {
  .alert {
    width: 85% !important;
    font-size: 15px !important;
  }
}

.msAnchorHover {
  font-size: 50px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.msAnchorHover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.4s;
}

.msAnchorHover:hover:after {
  width: 100%;
}

@media only screen and (max-width: 960px) {

  .msContant {
    padding-left: 0px;
    padding-right: 0px;
  }

  .msContent2 {
    padding: 100px 10px;
  }

}

/* End pf the Hero */


/* Start Article and Event */
.msContant {
  margin-top: 0px;
  padding-top: 0px
}

#msCover {
  width: 100%;
}

.msPar {
  font-size: large;
  font-family: 'Cairo', sans-serif;
  padding: 20px 100px;
}

@media only screen and (max-width: 1024px) {
  .msPar {
    font-size: large;
    font-family: 'Cairo', sans-serif;
    padding: 20px 0px;
  }
}

/* End Article and Event */

/* Start Form Event and Recruitement */

textarea {
  height: 170px;
}
.form-control{
  font-size: 14px;
}
.form-group label {
  font-size: 16px;
}

.register-link {
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 16px;
}
.register-link span {
  background: transparent;
  border: none;
  color: #01a3f0;
  text-transform: capitalize;
  font-size: inherit;
  display: inline-block;
  margin-left: 0.5rem;
  cursor: pointer;
}

.form-empty {
  text-align: center;
  color: #bd0303;
  font-size: 14px;
}
.checkout-form .form-empty {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* End Form Event and Recruitement */

/* Start Feedback */
#msMainOuter {
  margin-left: auto;
  margin-right: auto;
  width: 140%;
}

#msbutton {
  float: right;
}
/* End Feedback */



/* Start Team */

.msCard:hover .msImage { 
  /* animation: mymove 5s; */
  filter: blur(4px);
  transition: all 5s;
}

@keyframes mymove {

  0% {
    -webkit-filter: blur(0px);
  }

  50% {
    -webkit-filter: blur(5px);
  }

  100% {
    -webkit-filter: blur(10px);
  }
}

.msTextTeam {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.msCard:hover .msTextTeam {
  visibility: visible;
  opacity: 1;
}

/* End Team */


/* Start Videos */

.iteam {
  color: #1c546f;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  padding: 12px 24px;
  transition: 0.15s all ease-in;

  vertical-align: middle;
  font-weight: 400
}

.iteam:hover {
  background: #eee
}

.iteamP {
  margin: 0
}

.list {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  z-index: 101;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
}

.parent {
  color: #01a3f0;
  background: #eee
}

.tutorialname {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #1c546f;
  padding: 13px 24px 13px 24px;
  font-size: xx-large;
}

.view {
  padding-left: 30px;
}

.sign {
  float: right;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 990px) {
  .sign {
    float: right;
    cursor: pointer;
    display: block;
  }
}

.webList {
  display: block !important;
}

/* End Videos */


/* Start Website Team */
.websiteTeamArea {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 767px) {

  .websiteTeamArea {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

.websiteTeamArea .singleFace {
  margin-bottom: 35px;
}

@media (max-width: 767px) { 
  .websiteTeamArea .singleFace {
    display: block !important;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .websiteTeamArea .singleFace {
    display: block !important;
  }
}

.websiteTeamArea .singleFace .thumb {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.websiteTeamArea .singleFace .thumb img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.websiteTeamArea .singleFace .info {
  padding-left: 20px;
}

@media (max-width: 767px) {

  .websiteTeamArea .singleFace .info {
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767.98px){
  .websiteTeamArea .singleFace .thumb{
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .websiteTeamArea .singleFace .info {
    padding-left: 0;
    margin-top: 30px;
  }
}

.websiteTeamArea .singleFace .info h3 {
  font-size: 30px;
  color: #1A0D01;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.websiteTeamArea .singleFace .info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
  color: #6E6E6E;
  font-family: "Montserrat", sans-serif;
}

.websiteTeamArea .singleFace .info span {
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #F0542C;
  font-family: "Montserrat", sans-serif;
}
/* End Website Team */

/* Start alert */

.alert{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 20px;
}
/* End alert */

/* Start Pagination */

.pagination {
  display: block;
  margin: 0 auto;
}

/* End Pagination */

/* Start Carousel */

.carousel {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 960px) {
.carousel {
  width: 800px;
}
}

/* End Carousel */

/* 
====== 
Scroll Button
======
*/
.scroll-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background: #222;
  /* #f50057 #01a4f1 #222 */
  color: #fff;
  z-index: -100;
  opacity: 0;
  transition: all 0.3s linear;
  font-size: 2rem;
  line-height: 0;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.show-scroll-btn {
  z-index: 100000;
  opacity: 1;
}

/* Start Search */

.shadowItem {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.shadowItem:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}

.shadowItemWithoutBox {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.shadowItemWithoutBox:hover {
  transform: scale(1.05);
}
/* End Search */